#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
  padding: 30px;
  background-color: black;
}

.container {
  width: 100%;
  max-width: 650px;
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  color: green;
}

.subtitle {
  color: #666;
  margin-bottom: 30px;
}

.upload-section {
  margin-bottom: 25px;
}

.file-label {
  display: inline-block;
  padding: 12px 20px;
  background: #222;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.file-label input {
  display: none;
}

.filename {
  margin-top: 12px;
  color: #555;
}

.preview-section {
  margin: 25px 0;
}

.preview-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.predict-button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.predict-button:disabled {
  background: #999;
  cursor: not-allowed;
}

.result-card {
  margin-top: 30px;
  padding: 25px;
  border-radius: 12px;
  background: #f0fdf4;
  border: 1px solid #bbf7d0;
}

.prediction {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.confidence {
  font-size: 28px;
  font-weight: bold;
}

.error {
  margin-top: 20px;
  padding: 12px;
  border-radius: 8px;
  background: #fee2e2;
  color: #b91c1c;
}